<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
  <depends plugin-name="com.iver.cit.gvsig"/>
  <depends plugin-name="org.gvsig.rastertools"/>
  <resourceBundle name="text"/>
  <libraries library-dir="./lib"/>
  <extensions>
    <extension class-name="uclv.gvsig.extsdf.driver.NetCDFDriverExtension"
      description="Extensión de soporte al formato NetCDF en gvSIG 1.12"
      active="true"
      priority="999">
    </extension>
    
    <extension	class-name="uclv.gvsig.extsdf.timeslider.TimeSliderExtension"
    			description="time_slider_description"
    			active="true"
    			priority="999">
	<!--
		<menu	text="OJO_DEFINIR"
				key="t" 
				mnemonic="t"
				tooltip="time_slider_tooltip"
				action-command="time_slider-command" 
				icon="images/time_slider.png">
		</menu>
	-->
		<tool-bar	name="time_slider-toolbar" 
					position="6">
			<action-tool	icon="images/time_slider.png" 
							tooltip="time_slider_tooltip"
							action-command="time_slider-command" 
							position="1">
			</action-tool>
		</tool-bar>
    </extension>
        
  </extensions>
</plugin-config>